@page "/Activities"

<h3>Activities</h3>

@if (Activity == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <thead>
            <tr class="border-header">
                <td class="text-bottom" scope="col"><strong>Name</strong></td>
                <td class="text-bottom" scope="col"><strong>Description</strong></td>
                <td class="text-bottom" scope="col"><strong>StartTime</strong></td>
                <td class="text-bottom" scope="col"><strong>EndTime</strong></td>
                <td class="text-bottom" scope="col"><strong>Activity type</strong></td>
            </tr>
        </thead>
        <tbody>

                <tr>

                <td scope="row" class="text-card">@Activity.Name</td>
                <td scope="row" class="text-card">@Activity.Description</td>
                <td scope="row" class="text-card">@Activity.StartTime.ToString("yyyy-MM-dd")</td>
                <td scope="row" class="text-card">@Activity.EndTime.ToString("yyyy-MM-dd")</td>
                <td scope="row" class="text-card">@Activity.TypeName</td>
                  
                </tr>

        </tbody>
    </table>
}
