@page "/admin"
@using Microsoft.AspNetCore.Authorization
@using LexiconLMS.Shared.Dtos
@using LexiconLMS.Client.Services
@inject ILmsDataService LmsDataService
@attribute [Authorize]

<h3>Admin</h3>

<div class="container">

    <main role="main" class="pb-1">

        <h1>Admin Panel</h1>

        <div>
            <h3>Navigate on the left menu.</h3>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <!-- Navigation menu -->
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item"><a class="nav-link active" id="#" aria-current="page" href="/admin">Create User</a></li>
                        <li class="nav-item"><a class="nav-link" id="#" href="#">Edit User</a></li>
                        <li class="nav-item"><a class="nav-link" id="#" href="/CourseAdd">Add Course</a></li>
                        <li class="nav-item"><a class="nav-link" id="#" href="#">Placeholder :)</a></li>
                    </ul>

                </div>
                <div class="col-md-9">

                    <h3>Creating new user</h3>

                    <!-- User Creation form -->
                    <div class="row">
                        <div class="col-md-6">
                            <EditForm Model="@newUser" OnValidSubmit="HandleValidSubmit">
                                <DataAnnotationsValidator />
                                <ValidationSummary />

                                <div class="form-group">
                                    <label for="FirstName">First Name:</label>
                                    <InputText id="FirstName" class="form-control" @bind-Value="newUser.FirstName" />
                                </div>

                                <div class="form-group">
                                    <label for="LastName">Last Name:</label>
                                    <InputText id="LastName" class="form-control" @bind-Value="newUser.LastName" />
                                </div>

                                <div class="form-group">
                                    <label for="Email">Email:</label>
                                    <InputText id="Email" class="form-control" @bind-Value="newUser.Email" />
                                </div>
                                <div class="form-group">
                                    <InputSelect @bind-Value="newUser.CourseId">
                                        @foreach (var course in courses)
                                        {
                                            <option value="@course.Id.ToString()" @key="course.Id">@course.Name</option>
                                        }
                                    </InputSelect>
                                </div>
                                <div class="form-group">
                                    <!--Can't access the roles from database, during the creation of the user, the role is not being assigned. 
-->
                                    <InputSelect @bind-Value="newUser.RoleId">
                                        @foreach (var role in rolesList)
                                        {
                                            <option value="@role.Id" @key="role.Id">@role.Name</option>
                                        }
                                    </InputSelect>


                                </div>

                                <button type="submit" class="btn btn-primary">Create User</button>
                            </EditForm>


                        </div>
                    </div>


                </div>
            </div>
        </div>


    </main>
</div>

@code {

}
