@page "/course/{CourseId:guid}"
@using System.Security.Claims
<div class="custom-width">
    <AuthorizeView>
        
       
        @if (CourseDto == null)
        {
            <h3 class="text-center">Course</h3>
            <p><em>Loading...</em></p>
        }
        else
        {
            <h3 class="text-center">Course: @CourseDto.Name</h3>

            <a href="@($"participants/{CourseDto.Id}")" class="btn btn-outline-primary btn-sm mb-1">
                View all participants
            </a>

            <h3 class="text-center">Modules</h3>
            foreach (var module in CourseDto.Modules)
            {
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">     
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                @module.Name

                                @{
                                    ModuleId = module.Id;
                                }
                                <a class="" @onclick="DeleteModuleAsync">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                    </svg>
                                </a>
                            </button>
                        </h2>
                        <p class="text-center"><strong>Activities:</strong></p>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                @foreach (var activity in module.Activities)
                                {
                                    <a href="@($"{CourseDto.Id}/activity/{activity.Id}")">@activity.Name</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
            <br>
            @if (context.User.IsInRole("Admin"))
            {
                <div class="text-center">
                    <a class="btn btn-primary" href="@($"CourseEdit/{CourseDto.Id}")">Edit Course</a>
                   @*  <button class="btn btn-danger" @onclick="DeleteCourseAsync">Delete Course</button> *@
                </div>
            }

        }
    </AuthorizeView>

</div>