@page "/courses/{CourseId}"
<h3>Course</h3>
<AuthorizeView>
@if (CourseDto == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <a href="@($"participants/{CourseDto.Id}")" class="btn btn-outline-primary btn-sm mb-1">
        View all participants
    </a>

    @if (@context.User.IsInRole("Admin"))
    { 
        <a class="btn btn-primary" href="@($"CourseEdit/{CourseDto.Id}")">Edit course</a> 
    }

    foreach (var module in CourseDto.Modules)
    {
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        @module.Name
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        @foreach (var activity in module.Activities)
                        {
                            <a href="@($"{CourseDto.Id}/activity/{activity.Id}")">@activity.Name</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
     
}
</AuthorizeView>

