@page "/courses"
@layout TeacherLayout

<h3>Courses</h3>

@if (CourseList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th scope="col">Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var courseViewDto in CourseList)
            {
                <tr>

                    <td scope="row">
                        <a class="no-padding-lms" href="@($"course/{courseViewDto.Id}")">@courseViewDto.Name</a> @* ToDo: Ref to (Modules) *@
                    </td>
                    <td scope="row">
                        @courseViewDto.StartDate.ToString("yyyy-MM-dd")
                    </td>
                    <td scope="row">
                        @courseViewDto.EndDate.ToString("yyyy-MM-dd")
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-success" href="@($"courseAdd/")">Add Course</a> @* ToDo: Ref to (Modules) *@
}