@page "/courses"

<h3>Courses</h3>

@if (CourseList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th scope="col">Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var courseViewDto in CourseList)
            {
                <tr>

                    <td scope="row">
                        <a class="no-padding-lms" href="@($"course/{courseViewDto.Id}")">@courseViewDto.Name</a> @* ToDo: Ref to (Modules) *@
                    </td>
                    <td scope="row">
                        @courseViewDto.StartDate.ToString("yyyy-MM-dd")
                    </td>
                    <td scope="row">
                        @courseViewDto.EndDate.ToString("yyyy-MM-dd")
                    </td>
                    <td>

                        @{
                            id = courseViewDto.Id;
                        }
                        <EditForm Model="@id" OnValidSubmit="@DeleteCourseAsync">

                        <button  type="submit" class="nomargin-nopadding">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </svg>
                        </button>
                        </EditForm>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-success" href="@($"courseAdd/")">Add Course</a> @* ToDo: Ref to (Modules) *@
}