@page "/CourseAdd"

<h3>Add Course</h3>


<EditForm Model="@CourseToAdd" OnValidSubmit="@CreateCourseAsync">
    <DataAnnotationsValidator/>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td scope="row">
                <InputText id="Name" @bind-Value="CourseToAdd.Name" class="form-control col-md-8">
                </InputText>
                <ValidationMessage For="@(()=> CourseToAdd.Name)" />
            </td>
            <td scope="row">
                <InputText id="Description" @bind-Value="CourseToAdd.Description" class="form-control col-md-8">
                </InputText>
                <ValidationMessage For="@(()=> CourseToAdd.Description)" />
            </td>
            <td scope="row">
                <InputDate id="StartDate" @bind-Value="CourseToAdd.StartDate" class="form-control col-md-8"> </InputDate>
            </td>
            <td scope="row">
                <InputDate id="EndDate" @bind-Value="CourseToAdd.EndDate" class="form-control col-md-8"> </InputDate>
            </td>
           
        </tr>
        </tbody>
    </table>
 
@*     <a href="@($"listofdevices")" class="btn btn-outline-primary">Back to Device list</a>&nbsp; *@
    <button type="submit" class="btn btn-primary me-1">Add Course</button>
</EditForm>

