@page "/CourseAdd"
@layout AdminLayout

<div class="custom-width">
    <h3 class="text-center">Add Course</h3>
    <EditForm Model="@_courseToAdd" OnValidSubmit="@CreateCourseAsync">
        <DataAnnotationsValidator/>
        <p class="text-danger">@_successMessage</p>

        <div class="form-group">
            <label for="Name">Name:</label>
            <InputText maxlength="30" id="Name" @bind-Value="_courseToAdd.Name" class="form-control"/>
            <ValidationMessage For="@(() => _courseToAdd.Name)"/>
        </div>

        <div class="form-group description-height">
            <label for="Description">Description:</label>
            <textarea maxlength="100" id="Description" @bind="_courseToAdd.Description" class="form-control"></textarea>
            <ValidationMessage For="@(() => _courseToAdd.Description)"/>
        </div>

        <div class="form-group">
            <label for="StartDate">Start Date:</label>
            <InputDate id="StartDate" @bind-Value="_courseToAdd.StartDate" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="EndDate">End Date:</label>
            <InputDate id="EndDate" @bind-Value="_courseToAdd.EndDate" class="form-control"/>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Add Course</button>
        </div>

    </EditForm>
</div>


